body{
    margin: 0;
}

*{
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    width: 100vw;
    background-color: rgba(16, 26, 100, 0.34);
    color: aliceblue;

}
header > div{
    display: flex;
    align-items: center;

}
img{
    height: 4rem;
}
h1{
    margin-left: 1rem;
}
nav > a{
    margin-right: 1rem;
    color: aliceblue;
    font-size: 1.5rem;

} 

main{
    min-height: 80vh;
    min-width: 80vw;
    background-color: rgba(44, 44, 50, 0.352);
    display: flexbox;
    justify-content: table-row;
    text-align: center;
    font-size: 10em;


}

aside{
    min-height: 80vh;
    min-width: 10vw;
    background-color: rgba(0, 2, 144, 0.085);
}
body > div {
    display: flex;
    flex-direction: row;

}

footer{
    min-height: 10vh;
    min-width: 100vw;
    background-color: rgba(16, 26, 100, 0.34);
}



.foot{
    text-align: center;
    position: relative;
    top: .5rem;
}

.dallas {
    background-image:url(https://images.pexels.com/photos/280193/pexels-photo-280193.jpeg) ;
    background-size: cover;
}

.gif img {
    height: 25rem;
}
@media screen and (max-width:600px) {
    header{
        display: flex;
        flex-direction: column;
    }

    .dallas{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }
    
}
#toggleBtn{ 
    cursor: pointer;
    margin-right: 1rem;
}
body.night-mode {
    background-color: #333;
    color: #fff;
    background-image: url(https://images.discerningassets.com/image/upload/c_fit,h_1000,w_1000/c_fit,fl_relative,h_1.0,o_100,w_1.0/v1581186563/The_Dallas_Skyline_from_Reuinion_Tower_useblh.jpg);
    background-size: cover;
  }